<h1>Welcome</h1>
<p>Welcome to storyBooks 1.0.0</p>
<p>post stories from the best and worst of your life and choose for them to be read by the world or completley private as
  your own personal dairy</p>
{{#if user}} {{else}}
<a href="/auth/google" class="btn red darken-1 waves-effect waves-light"><i class="fa fa-google left"></i>Login with Google</a>
{{/if}}